.parkSpot-div {
    height: 20px;
    width: 180px;
    margin-top: 50px;
    margin-left: 10px;
}
.parkSpot-div{
    font-size: 20px;
}

.delimiter {
    border: 1px solid #eef0f8;
    width: 1200px
}