.delete-card-icon {
    width: 10px;
    height: 10px;
}

.delete-card-button {
    cursor: pointer;

    width: 20px;
    height: 20px;

    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    border-radius: 50%;

    background: #c0c0c0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 500ms;
}

.delete-card-button:hover {
    transition: 200ms;
    border-radius: 50%;
    background-color: rgba(214, 0, 46, 0.689);
}

.delete-card-button:active {
    background-color: #4e7ac8;
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}